body{
    background-image:url(https://images.unsplash.com/photo-1630121008235-22acfe348ed1);
    color:azure;
}
#personatges{
    background-color: rgba(0, 0, 0, 0.400);
}
#cases{
    background-color: rgba(0, 0, 0, 0.400);
}